@model CustomerManagement.Entities.CMUser

@{
    ViewBag.Title = "Kullanıcı Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kullanıcı kaydını silmek istediğinize emin misiniz?</h3>
<div>
    <h4>@ViewBag.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        @Html.HiddenFor(model => model.ActivateGuid)
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="row">
                <div class="col-lg-1">
                    <div class="card bg-primary text-white shadow">
                        <button class="card bg-primary text-white shadow" type="submit">Sil</button>
                    </div>
                </div>
                <div class="col-xs-1">|</div>
                <div class="col-lg-1">@Html.ActionLink("Listeye Geri Dön", "Index")</div>
            </div>
        </div>
    }
</div>
